.warna-navbar {
  background: #324fba;
}

.costum_slider {
    max-height: 427px;
    z-index: 1;
    /* position: absolute; */
}

.container_gradient_slider {
    /* background: linear-gradient(to right, #0020dd, #0575E6); */
    position: absolute;
    height: 427px;
    width: 100%;
    z-index: 1;
    /* opacity: 0.8; */
}

.navbar_costum {
    position: absolute;
    color: white;
    z-index: 3;
    width: 100%;
    height: 570px !important;
    
}

.logo {
    z-index: 4 !important;
    height: 50px;
    margin: 10px 10px 10px 10px;
    padding-right: 150px;
}

.container_logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.link_navbar_costum {
    
    text-decoration: none;
    margin: 0px 20px;
    color: white;
    display: flex;
  justify-content: center;
  align-items: center;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    /* font-weight: bold; */
}

a.link_navbar_costum:hover {
    color: white;
}

a.link_navbar_costum:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    margin-right: 220px;
    visibility: hidden;
    color: white !important;
    transition: all 0.3s ease-in-out;
  }

  a.link_navbar_costum:hover:before {
    visibility: visible;
    width: 100%;
    color: white !important;
  }

  a.link_navbar_costum_login {
    
    text-decoration: none;
    margin: 0px 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    /* font-weight: bold; */

    background: white;
    padding: 5px 30px;
    border-radius: 5px;
    color: black;
}

  a.link_navbar_costum_login:hover {
    background-color: #056ae6;
    color: white;
  }

  .carousel-caption {
      bottom: 3.25rem !important;
  }

  .title_corousel {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    line-height: 48px;
  }

  .carousel-caption {
      z-index: 2;
  }
  
  .opacity_content_corousel {
      opacity: 0.5;
      
  }

  .content_text_corousel {
      font-size: 14px;
  }
  
  
  .card_costum_landing {
    border: 1px solid #ebebeb;
    height: 100%;
    border-radius: 5px;
  }

  .costum-center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  }

  .card_costum_landing:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
  }
  
  .container_costum_landing {
    padding: 2px 16px;
  }

  .container_card_landing {
    display: inline;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    width: 100%;
    display: inline;
  }

  .card_title_costum_landing {
    margin-top: 10px;
    font-size: 17px;
  }

  .background_card_landing {
      width: 300px;
      height: 300px;
  }

  .container_card_main_landing {
      padding: 20px 200px;
  }

  .card_col_landing {
    padding-left: 105px !important;
  }

  .mobile-navbar {
    display: none !important;
  }

  .desktop-navbar {
    display: inline !important;
  }

  @media only screen and (max-width: 1000px) {
    .card_col_landing {
      padding-left: 25px !important;
      padding-right: 25px !important;
    }

    .image-sturktur {
      width: 100% !important;
      height: 100% !important;
    }

    .footer_padding_landing {
      padding: 40px !important;
  }

  .desktop-navbar {
    display: none !important;
  }

  .mobile-navbar {
    display: inline !important;
  }

  .container_card_main_login {
    padding: 0px !important;
    z-index: 5;
}

.footer_user_panel {
  display: none !important;
}

.navbar-nav {
  display: none !important;
}

  .container_card_landing {
    display: inline;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    width: 90%;
    display: inline;
  }
  }

  

  .deskripsi_card_landing {
      text-align: center;
      opacity: 0.6;
      font-size: 15px;
      line-height: 25px;
  }

  .footer_landing {
      background: black;
  }

  .footer_padding_landing {
      padding: 80px 150px 50px 150px;
  }

  .title_footer_landing {
      color: white;
      border-bottom: 1px solid white;
      width: 15%;
  }

  .content_tentang_landing {
      margin-top: 20px;
      color: white;
      opacity: 0.7;
      font-size: 13px;
      width: 80%;
  }

  .container_sosial_landing {
      margin-top: 10px;
      
  }

  .layanan_footer_landing {
    font-size: 12px;
    display: inline;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-left: 10px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
  }

  .container_layanan_sosial {
      width: 200px;
      height: 20px;
  }

  .icon_layanan_landing {
      text-decoration: none;
      color: white;
      font-size: 12px;
  }

  .container_layanan_side {
      padding-top: 10px;
      margin-top: 20px;
  }

  .copyright_footer_landing {
      text-align: center;
      color: white;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 12px;
        opacity: 0.7;
        padding-top: 15px;
        border-top: 1px solid #f0f0f0;
  }

  .bg {
    background: url("https://i.pinimg.com/originals/93/b9/ed/93b9ed4f719c8c91355d4a55f090ea5d.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

  img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: 1024px) {
    img.bg {
      left: 50%;
      margin-left: -512px;
    }
  }

  .container_card_main_login {
      padding: 20px 330px;
      z-index: 5;
  }

  .body_login {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card_costum_login {
    border: 1px solid #ebebeb;
    width: 400px;
    background: white;
    border-radius: 5px;
    margin-top: 50px;
  }

  .card_costum_login:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
  }

  .container_form_login {
      padding: 30px 50px;
  }

  .logo_login {
    width: 50%;
    z-index: 2;
    width: 100px;
    position: absolute;
    background: black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container_logo_login {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .divider_login {
    border-top: 1px solid #ebebeb; 
    margin-top: 10px !important;
  }

  .btn_login_costum {
      width: 100%;
      padding: 5px 15px;
      background: #e64747;
      font-weight: bolder;
      color: white;
      border: 1px solid #4764E6;
  }

  .btn_login_costum:hover {
    background: white;
    color: black;
}

  .btn_register_red_costum {
    display: inline-block;
    text-align: center;
    font: 400 13.3333px Arial;
    width: 100%;
    padding: 10px 15px;
    background: #c4cefa;
    margin-top: 20px;
    border: 1px solid #c4cefa;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
  }

  .btn_register_red_costum:hover {
    background: #4764E6;
    color: #ebebeb;
  }

  
.sidenav {
  height: 100%;
  width: 5110;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.2s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav-side-panel {
  display: none;
}

.panel-wrapper-list {
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }
  .sidenav a {
      font-size: 18px;
  }
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

@media (max-width: 767.98px) {
.sidebar {
    top: 50px;
}
}

.navbar-brand {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}


.create_mail {
  float: right;
  margin-right: 20px;
}

.btn-costum-detail {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.footer_user_panel {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  margin-left: 100px;
  border-top: 1px solid #ebebeb;
  background-color: white;
  color: #4764E6;
  padding-top: 20px;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  /* font-family: 'Nunito Sans', sans-serif; */
}

.sidebar .nav-link {
  font-size: 15px;
}

.container_input_surat {
  padding: 0px 50px;
}

.container_info_surat {
  padding: 0px 25px;
}

@import "https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/dashboard.scss";
 body {
	 background-color: #1b2431;
	 color: #202020;
	 font-family: "Montserrat", "Helvetica", "Open Sans", "Arial";
	 font-size: 13px;
}
 a:hover {
	 text-decoration: none;
}
 p, figure {
	 margin: 0;
	 padding: 0;
}
 .navbar {
	 background-color: #1b2431;
}
 .sidebar {
	 background-color: white;
	 box-shadow: none;
}
 .sidebar .nav-link {
	 border-left: 5px solid transparent;
	 color: #738297;
	 padding: 0.5rem 0.75rem;
}
 .sidebar .nav-link:hover {
	 color: #4764E6;
}
 .sidebar .nav-link.active {
	 border-left: 5px solid #738297;
	 color: white;
}
 .sidebar .zmdi {
	 display: inline-block;
	 font-size: 1.35rem;
	 margin-right: 5px;
	 min-width: 25px;
}
 .card-list {
	 width: 100%;
}
 .card-list:before, .card-list:after {
	 content: " ";
	 display: table;
}
 .card-list:after {
	 clear: both;
}
 .card {
	 border-radius: 8px;
	 
	 padding: 10px;
	 position: relative;
}

/* .aktivitas{
  background-color: #4764E6 !important;
} */
 .card .zmdi {
	 color: white;
	 font-size: 28px;
	 opacity: 0.3;
	 position: absolute;
	 right: 13px;
	 top: 13px;
}
 .card .stat {
	 border-top: 1px solid rgba(255, 255, 255, 0.3);
	 font-size: 8px;
	 margin-top: 25px;
	 padding: 10px 10px 0;
	 text-transform: uppercase;
}
 .card .title {
	 display: inline-block;
	 font-size: 8px;
	 padding: 10px 10px 0;
	 text-transform: uppercase;
}
 .card .value {
	 font-size: 28px;
	 padding: 0 10px;
}
 .card.blue {
	 background-color: #f12222;
}
 .card.green {
	 background-color: #66b92e;
}
 .card.orange {
	 background-color: #da932c;
}
 .card.red {
	 background-color: #d65b4a;
}

.container_banner_user_panel {
  width: 100%;
  overflow: hidden;
  max-height: 300px;
}

.border_bottom {
  border-bottom: 1px solid #ebebeb;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.title_label {
  opacity: 0.6;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
}

.imageFcp {
  width: 100px;
  height: 100px;
}


.modal.bottom.fade .modal-dialog {
  overflow: scroll !important;
  bottom: -100%;
  -webkit-transition: opacity 0.3s linear, bottom 0.2s ease-out;
  -moz-transition: opacity 0.3s linear, bottom 0.2s ease-out;
  -o-transition: opacity 0.3s linear, bottom 0.2s ease-out;
  transition: opacity 0.3s linear, bottom 0.2s ease-out;
}

.modal.bottom.fade.show .modal-dialog {
  bottom: 0;
}

.modal.bottom.fade .modal-dialog {
  bottom: -100%;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog,
.modal.top .modal-dialog,
.modal.bottom .modal-dialog {
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}


.modal.top .modal-dialog,
.modal.bottom .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.modal.top .modal-content,
.modal.bottom .modal-content {
  height: 500px;
  /* overflow-y: auto; */
  overflow: scroll !important;
}

.modal.top .modal-content,
.modal.bottom .modal-content::-webkit-scrollbar {
  display: none;
}

.modal.top .modal-body,
.modal.bottom .modal-body {
  padding: 15px 15px;
}

.center_costum {
  display: flex;
  justify-content: center;
  align-items: center;
}


.button_costum_btm_rght {
 width: 100%;
 position: absolute;
    bottom: 0;
    right: 0;
}

.user-card-full {
  overflow: hidden
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#4764E6), to(#5a89ee));
  background: linear-gradient(to right, #5a89ee, #4764E6)
}

.user-profile {
  padding: 20px 0
}

.card-block {
  padding: 1.25rem
}

.m-b-25 {
  margin-bottom: 25px
}

.img-radius {
  border-radius: 5px
}

h6 {
  font-size: 14px
}

.card .card-block p {
  line-height: 25px
}

@media only screen and (min-width: 1400px) {
  p {
      font-size: 14px
  }
}

.card-block {
  padding: 1.25rem
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.card .card-block p {
  line-height: 25px
}

.text-muted {
  color: #919aa3 !important
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
  font-weight: 600
}

.user-card-full .social-link li {
  display: inline-block
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

.container_content_aktivitas_surat {
  width: 100%;
}

.aktivitas_surat_content {
  font-size: 12px;
  font-weight: bolder;
}

.single-cards-item, .single-review-st-item, .white-box{
	background:#fff;
	overflow:hidden;
}

.single-product-image img{
	width:100%;
}

.single-product-text .button-default.cart-btn {
  background: #006DF0;
}

.single-product-text a, .single-latest-text a{
  color: #444;
  display: block;
font-size:18px;
}

.single-product-text .cards-hd-dn{
  margin-top: 17px;
}

.single-product-text.edu-pro-tx a{
  margin-top: -1px;
}

.single-product-text a:hover, .single-latest-text a:hover{
	color:#006DF0;
	transition:all .4s ease 0s;
}

.single-product-text .button-default.cart-btn:hover{
	background:#006DF0;
	transition:all .4s ease 0s;
}

.single-product-text img {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

.single-product-text{
	padding:20px;
	text-align:center;
}

.single-product-text.edu-pro-tx {
  padding: 20px 0px 0px 0px;
}

.single-product-text.edu-pro-tx h5 {
  line-height: 20px;
  margin-bottom: 5px;
color: #444;
}

.single-product-text .ctn-cards{
	font-size:14px;
	color:#444;
	line-height:24px;
}
.single-product-text .follow-cards {
    font-size: 14px;
    color: #fff;
    background: #006DF0;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 3px;
}
.single-product-text .follow-cards:hover {
    color: #fff;
}

.single-product-text .cards-hd-dn{
	font-size:18px;
}
.single-product-text h5{
	font-size:14px;
	color:#999;
	font-weight:300;
}

.single-product-text.edu-pro-tx{
	text-align:left;
}

.mini-navbar .single-product-text img {
  width: 116px;
  height: 116px;
}

.cards-dtn {
  margin-top: 27px;
}

.cards-dtn h3{
	font-size:18px;
	color:#303030;
	margin:0;
}

.cards-dtn p{
	font-size:14px;
	color:#303030;
	margin:0;
}

.content-error .counter {
  color: #006DF0;
}

.single-cards-item, .single-review-st-item, .white-box{
	background:#fff;
	overflow:hidden;
}

.single-review-st-item, .white-box{
  padding:20px;
  height: 100%;
  overflow-y: scroll;
}

.single-review-st-hd h2{
	font-size:18px;
	color:#303030;
}

.single-review-st-text{
	padding: 0px 0px;
}

.review-ctn-hf{
	margin-top:5px;
}

.review-item-rating {
  text-align: right;
  margin-left: auto;
margin-top:5px;
}

.review-item-rating i {
  font-size: 14px;
  margin-top: 15px;
color:#ffb463;
}

.single-review-st-text:hover .userHover {
  color: #0020dd;
}

.container_null_data {
  width: 100%;
  height: 186px;
  background: #FFFFFF;
  display: flex;
  color: #303030;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
 body {
	 background: #fff;
	 color: #212121;
	 font-family: 'Open Sans', sans-serif;
}
 .instructions {
	 width: 100vw;
	 height: 100vh;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .instructions h1 {
	 text-align: center;
	 font-size: calc(100vw / 7);
}

@media only screen and (max-width: 600px) {
  .chat-window {
    bottom: 0;
    right: 0 !important;
 }
}

 .chat-window {
	 position: fixed;
	 bottom: 0;
	 right: 3em;
	 width: 300px;
	 height: 420px;
	 transition: all ease-out 250ms;
}
 .chat-window.docked {
	 transform: translateY(375px);
}
 .chat-window.docked .chat-header span {
	 opacity: 0;
}
 .chat-window p {
	 margin: 0;
}
 .chat-window .chat-header {
	 height: 45px;
	 border-radius: 6px 6px 0 0;
	 background: #263238;
	 position: relative;
	 cursor: pointer;
}
 .chat-window .chat-header p {
	 display: block;
	 padding: 0 1em 0 2em;
	 color: #fff;
	 font-weight: 700;
	 line-height: 45px;
}
 .chat-window .chat-header span {
	 opacity: 1;
	 position: absolute;
	 display: block;
	 top: calc(50% - (1em / 2));
	 right: calc(1.5em - (1em / 2));
	 width: 1em;
	 height: 1em;
	 transition-delay: 250ms;
	 transition: all ease 350ms;
}
 .chat-window .chat-header span:before, .chat-window .chat-header span:after {
	 content: '';
	 display: block;
	 position: absolute;
	 top: calc(50% - (5px / 2));
	 left: -11%;
	 width: 120%;
	 height: 5px;
	 background: #fff;
	 transform-origin: 50% 50%;
	 border-radius: 20px;
}
 .chat-window .chat-header span:before {
	 transform: rotate(45deg);
}
 .chat-window .chat-header span:after {
	 transform: rotate(-45deg);
}
 .chat-window .chat-header:before {
	 content: '';
	 position: absolute;
	 display: block;
	 top: calc(50% - (.7em / 2));
	 left: calc(1em - (.7em / 2));
	 width: 0.7em;
	 height: 0.7em;
	 border-radius: 100%;
	 background: #fff;
}
 .chat-window .chat-header.online:before {
	 background: #43a047;
}
 .chat-window .chat-header.offline:before {
	 background: #c62828;
}
 .chat-window .chat-body {
	 height: calc(450px - ( 45px + 70px));
	 border: 1px solid #263238;
	 background: #fff;
	 border-top: 0;
	 border-bottom: 0;
	 position: relative;
}
 .chat-window .chat-body .message-container {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 overflow-y: scroll;
	 overflow-x: hidden;
}
 .chat-window .chat-body .message {
	 position: relative;
	 padding: 1em 0.7em 2em;
	 margin-bottom: 0.5em;
	 border-bottom: 1px dotted #cfd8dc;
}
 .chat-window .chat-body .message .profile {
	 position: absolute;
	 top: 1em;
	 left: 0.7em;
}
 .chat-window .chat-body .message .profile img {
	 width: 40px;
	 height: auto;
	 border-radius: 100%;
}
 .chat-window .chat-body .message .message-meta {
	 width: calc(100% - (40px + 1em));
	 height: 25px;
	 float: right;
}
 .chat-window .chat-body .message .message-meta p {
	 display: inline-block;
	 font-size: 0.75em;
	 font-weight: 700;
	 color: #90a4ae;
	 margin-top: 5px;
}
 .chat-window .chat-body .message .message-meta p:last-child {
	 font-size: 0.5em;
	 vertical-align: bottom;
	 margin-top: 7px;
	 float: right;
}
 .chat-window .chat-body .message .message-content {
	 width: calc(100% - (40px + 1em));
	 height: 40px;
	 float: right;
}
 .chat-window .chat-body .message .message-content p {
	 text-align: left;
	 line-height: 1.2;
	 font-size: 0.9em;
	 color: #263238;
}
 .chat-window .chat-body .message .message-content p + p {
	 margin-top: 0.5em;
}
 .chat-window .chat-body .message:after {
	 content: '';
	 display: block;
	 width: 100%;
	 clear: both;
}
 .chat-window .chat-body .message.user .profile {
	 left: auto;
	 right: 0.7em;
}
 .chat-window .chat-body .message.user .message-meta, .chat-window .chat-body .message.user .message-content {
	 float: left;
}
 .chat-window .chat-body .message.user .message-meta p {
	 float: right;
}
 .chat-window .chat-body .message.user .message-meta p:last-child {
	 float: left;
}
 .chat-window .chat-body .message.user .message-content p {
	 text-align: right;
}
 .chat-window .chat-footer {
	 height: 70px;
	 border: 1px solid #263238;
	 border-top: 0;
	 border-bottom: 0;
	 margin-top: -30px;
}
 .chat-window .chat-footer .progress-indicator {
	 opacity: 1;
	 background: rgba(255, 255, 255, .9);
	 height: 30px;
	 text-align: center;
	 font-size: 0.7em;
	 font-weight: 300;
	 line-height: 30px;
	 position: relative;
	 z-index: 4;
	 transition: all ease 150ms;
}
 .chat-window .chat-footer .form-area {
	 height: 40px;
	 position: relative;
}
 .chat-window .chat-footer .form-area input {
	 height: 40px;
	 width: calc(100% - (.7em + 2.5em + 2px));
	 border: 0;
	 padding: 0 0.7em;
	 font-size: 1em;
	 border-top: 1px dotted #607d8b;
	 outline: none;
	 font-family: 'Open Sans', sans-serif;
}
 .chat-window .chat-footer .form-area input:focus + button:after {
	 border-left: 1.6em solid #66bb6a;
}
 .chat-window .chat-footer .form-area button {
	 border: 0;
	 border-top: 1px dotted #607d8b;
	 position: absolute;
	 display: block;
	 width: 2.5em;
	 height: 40px;
	 top: 0;
	 right: 0;
	 z-index: 2;
	 background: transparent;
	 outline: none;
}
 .chat-window .chat-footer .form-area button:before {
	 position: absolute;
	 top: calc(50% - .4em);
	 left: 0.4em;
	 content: '';
	 display: block;
	 width: 0;
	 height: 0;
	 border-top: 0.4em solid transparent;
	 border-right: 0.4em solid transparent;
	 border-bottom: 0.4em solid transparent;
	 border-left: 0.4em solid #fff;
	 z-index: 3;
}
 .chat-window .chat-footer .form-area button:after {
	 content: '';
	 display: block;
	 width: 0;
	 height: 0;
	 border-top: 0.8em solid transparent;
	 border-right: 0.8em solid transparent;
	 border-bottom: 0.8em solid transparent;
	 border-left: 1.6em solid #b0bec5;
	 z-index: 2;
}
 .hide {
	 opacity: 0 !important;
}
 
.container-chat-admin {
  width: 100%;

}

.image-chat-admin {
  width: 45px; 
  height: 45px;
  border-radius: 10px;
  margin-right: 10px;
}

.container-body-chat-admin {
  background: #EBEBEB;
  width: 60%;
  border-radius: 5px;
  color: black;
  padding: 10px 20px;
  margin-top: 10px;
}

.container-main-chat-user {
  width: 60%;
  float: right;
}

.container-chat-user {
  width: 100%;
  position: relative;
  text-align: right;
  /* float: right; */
}

.container-body-chat-user {
  background: #4764E6;
  width: 100%;
  text-align: right;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  padding: 10px 20px;
}


table caption {
	padding: .5em 0;
}

table.dataTable th,
table.dataTable td {
  white-space: nowrap;
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

.footer-padding {
  margin-bottom: 100px;
}

.image-sturktur {
  width: 750px;
  height: 450px;
}